.sidebar {
  width: 240px;
  height: 100vh;
  background-color: #1e1e2f;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: .2rem;
  position: fixed;
  left: 0;

  .logo {
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
    margin: 1rem 0;
  }

  .menu {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    position: absolute;
    top: 12%;

    a {
      color: #bdbdbd;
      text-decoration: none;
      padding: 0.5rem 1rem;
      border-radius: 6px;
      transition: background 0.3s;

      &:hover {
        background-color: #2e2e45;
        color: white;
      }

      &.active {
        background-color: #3b3b5c;
        color: #fff;
      }
    }
  }

  .footer {
    text-align: center;

    button {
      background: #ff5252;
      border: none;
      color: white;
      padding: 0.5rem 1rem;
      border-radius: 6px;
      cursor: pointer;

      &:hover {
        background: #ff1744;
      }
    }
  }
}
